force-app/main/default/flows/OCC_Review_Matter_Participant_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>ContactTIN</name>
        <label>ContactTIN</label>
        <locationX>8278</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>VarTIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_TIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ORGTIN</name>
        <label>ORGTIN</label>
        <locationX>10082</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>VarTIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org_Organization_EIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PATIN</name>
        <label>PATIN</label>
        <locationX>6650</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>VarTIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PA_TIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Person_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceExpertWitness</name>
        <choiceText>Expert Witness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expert Witness</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFactWitness</name>
        <choiceText>Fact Witness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fact Witness</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceIndividual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Person Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceIndividualPetitioner</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Petitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceIntervenor</name>
        <choiceText>Intervenor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intervenor</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLawFirm</name>
        <choiceText>Law Firm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Law Firm</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLegalRep</name>
        <choiceText>Legal Representative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Representative</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOrganization</name>
        <choiceText>Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOrganizationPetitioner</name>
        <choiceText>Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization Petitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOrgIndividual</name>
        <choiceText>Individual Part of an Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePetitioner</name>
        <choiceText>Petitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Petitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePractitioner</name>
        <choiceText>Practitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePrivate</name>
        <choiceText>Private Matter Participant</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vPrivatePartRecTypeID</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceProtectedSpouse</name>
        <choiceText>Protected Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Protected Spouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStandard</name>
        <choiceText>Standard Matter Participant</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vStandardPartRecTypeID</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceWhistleblower</name>
        <choiceText>Whistleblower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whistleblower</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Determine_Type_of_Participant</name>
        <label>Determine Type of Participant</label>
        <locationX>8542</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePrivate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Participant_Input_Screen</targetReference>
            </connector>
            <label>Private</label>
        </rules>
        <rules>
            <name>Standard_Person_Account</name>
            <conditionLogic>1 AND ((2 AND 6) OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceStandard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePetitioner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceExpertWitness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceFactWitness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceIntervenor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Petitioner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceIndividualPetitioner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_Participant_Input_Screen</targetReference>
            </connector>
            <label>Standard - Person Account</label>
        </rules>
        <rules>
            <name>Standard_Contact</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceStandard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceLegalRep</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePractitioner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Participant_Input_Screen</targetReference>
            </connector>
            <label>Standard - Contact</label>
        </rules>
        <rules>
            <name>Standard_Organization</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceStandard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceLawFirm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Petitioner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceOrganizationPetitioner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePetitioner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Participant_Input_Screen</targetReference>
            </connector>
            <label>Standard - Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Matching_Organization</name>
        <label>Found Matching Organization?</label>
        <locationX>8586</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Create_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Organization</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Yes Has Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matching_Contact</name>
        <label>Has Matching Contact?</label>
        <locationX>8278</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Matching_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Matter_Participant</targetReference>
            </connector>
            <label>Yes Has Matching Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matching_Org</name>
        <label>Has Matching Org?</label>
        <locationX>10082</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Org_Create_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Org</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Matching_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrgID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Org_Matter_Participant</targetReference>
            </connector>
            <label>Yes Has Matching Org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matching_Person_Account</name>
        <label>Has Matching Person Account?</label>
        <locationX>6650</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Create_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Person Account</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Matching_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Matter_Participant_with_PA</targetReference>
            </connector>
            <label>Yes Has Matching Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Participants_for_Review</name>
        <label>Has Participants for Review</label>
        <locationX>2910</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Display_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Participants_for_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Matter_Participants_for_Review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoParticipantScreen</targetReference>
            </connector>
            <label>No Participants for review</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choicePirmary</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Phone__c</picklistField>
        <picklistObject>Matter_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSalutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Matter_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>OCC - Review Matter Participant Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OCC - Review Matter Participant Screen</label>
    <loops>
        <name>Loop_Selected_Matter_Participant</name>
        <label>Loop Selected Matter Participant</label>
        <locationX>5770</locationX>
        <locationY>998</locationY>
        <collectionReference>colSelectedPart</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Type_of_Participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_SuccessScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>8586</locationX>
        <locationY>2402</locationY>
        <assignRecordIdToReference>vContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Update_Contact_Matter_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TIN2__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vExtContactRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Contact_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Tax_Court_Bar_Number__c</field>
            <value>
                <elementReference>Bar_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization</name>
        <label>Create Organization</label>
        <locationX>8674</locationX>
        <locationY>1970</locationY>
        <assignRecordIdToReference>vOrgID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Organization_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TIN2__c</field>
            <value>
                <elementReference>Organization_EIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vExtOrgRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PA</name>
        <label>Create PA</label>
        <locationX>6914</locationX>
        <locationY>1754</locationY>
        <assignRecordIdToReference>vOrgID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PA_Record_Contact_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PA_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>PA_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>PA_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>PA_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PA_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TIN2__pc</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vPersonAcctRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>PA_Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Org_Create_Organization</name>
        <label>Create Organization</label>
        <locationX>10170</locationX>
        <locationY>1754</locationY>
        <assignRecordIdToReference>vOrgID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Org_Matter_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_10_of_ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Org_Organization_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TIN2__c</field>
            <value>
                <elementReference>Org_Organization_EIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vExtOrgRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>External_Contact_Record_Type</name>
        <label>External Contact Record Type</label>
        <locationX>5770</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Org_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External_Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vExtContactRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>External_Org_Record_Type</name>
        <label>External Org Record Type</label>
        <locationX>5770</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External_Organization</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vExtOrgRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Matter_Participants_for_Review</name>
        <label>Get All Matter Participants for Review</label>
        <locationX>2910</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Participants_for_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStandardPartRecTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Dismissed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Matter_Participant__c</object>
        <outputReference>colReviewPart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Firm_Name__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Bar_Number__c</queriedFields>
        <queriedFields>TIN_Encrypted__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Primary_Phone__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Matter__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Salutation__c</queriedFields>
        <queriedFields>Organization__c</queriedFields>
        <queriedFields>Preferred_Service_Method__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Type_Description__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Dismissed__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Home_Phone__c</queriedFields>
        <queriedFields>Represented_By__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>8278</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matching_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>US_Tax_Court_Bar_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bar_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExtContactRecTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Org</name>
        <label>Get Matching Org</label>
        <locationX>10082</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matching_Org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_TIN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExtOrgRecTypeID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vOrgID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Organization</name>
        <label>Get Matching Organization</label>
        <locationX>8586</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Matching_Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_TIN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organization_EIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExtOrgRecTypeID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vOrgID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Person_Account</name>
        <label>Get Matching Person Account</label>
        <locationX>6650</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matching_Person_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPersonAcctRecTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_TIN2__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Secondary_TIN2__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Record_Contact_ID</name>
        <label>Get PA Record Contact ID</label>
        <locationX>6914</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Matter_Participant_with_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vNewContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Participant_Record_Type</name>
        <label>Get Private Participant Record Type</label>
        <locationX>5770</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matter_Participant__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private_Participant</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vPrivatePartRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Participant_Record_Type</name>
        <label>Get Standard Participant Record Type</label>
        <locationX>2910</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Matter_Participants_for_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matter_Participant__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Participant</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vStandardPartRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Person_Account_Record_Type</name>
        <label>Person Account Record Type</label>
        <locationX>5770</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Selected_Matter_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vPersonAcctRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Address</name>
        <label>Update Address</label>
        <locationX>8586</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_9_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matter_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact_Matter_Participant</name>
        <label>Update Contact Matter Participant</label>
        <locationX>8586</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bar_Number__c</field>
            <value>
                <elementReference>Bar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Contact_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Contact_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Standard_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Matter_Participant_with_PA</name>
        <label>Update Matter Participant with PA</label>
        <locationX>6914</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Update_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vNewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>PA_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>PA_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>PA_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>PA_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>PA_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>PA_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Standard_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Address</name>
        <label>Update Address</label>
        <locationX>10082</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matter_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>6914</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matter_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vNewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Matter_Participant</name>
        <label>Update Contact Matter Participant</label>
        <locationX>7970</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bar_Number__c</field>
            <value>
                <elementReference>Bar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Get_Matching_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Contact_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Contact_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Standard_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Matter_Participant_with_PA</name>
        <label>Update Matter Participant with PA</label>
        <locationX>6386</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Person_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>PA_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>PA_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>PA_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Get_Matching_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>PA_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>PA_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>PA_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Standard_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Org_Matter_Participant</name>
        <label>Update Org Matter Participant</label>
        <locationX>10082</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Copy_3_of_Update_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>vOrgID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>VarTIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Standard_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_to_Private</name>
        <label>Update Record Type to Private</label>
        <locationX>5858</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Matter_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Private_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Private_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Private_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Private_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vPrivatePartRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Private_Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TIN_Encrypted__c</field>
            <value>
                <elementReference>Private_TIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Private_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Description__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Private_Role_of_Participant</elementReference>
            </value>
        </inputAssignments>
        <object>Matter_Participant__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Participant_Input_Screen</name>
        <label>Contact Participant Input Screen</label>
        <locationX>8278</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContactTIN</targetReference>
        </connector>
        <fields>
            <name>Contact_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Participant Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Selected_Matter_Participant.Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Type of Participant: &lt;/strong&gt;{!Type_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role of Participant: &lt;/strong&gt;{!Standard_Role_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Source: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Source__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Participant_Information</name>
            <fieldText>Participant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Participant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Salutation</name>
                    <choiceReferences>choiceSalutation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Salutation__c</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contact_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Participant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bar_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Bar_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Bar Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_TIN</name>
                    <dataType>String</dataType>
                    <fieldText>TIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 23, 23);&quot;&gt;Input must be 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Contact_TIN})=9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Organization_Information</name>
            <fieldText>Organization Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Organization_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Organization Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Organization_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization_EIN</name>
                    <dataType>String</dataType>
                    <fieldText>Organization EIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 23, 23);&quot;&gt;Input must be 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Organization_EIN})=9</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_10_of_ErrorScreen</name>
        <label>Copy 10 of ErrorScreen</label>
        <locationX>10434</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_10_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_11_of_ErrorScreen</name>
        <label>Copy 11 of ErrorScreen</label>
        <locationX>10962</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_11_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_12_of_ErrorScreen</name>
        <label>Copy 12 of ErrorScreen</label>
        <locationX>10698</locationX>
        <locationY>2402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_12_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ErrorScreen</name>
        <label>Copy 1 of ErrorScreen</label>
        <locationX>6122</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_SuccessScreen</name>
        <label>Copy 1 of SuccessScreen</label>
        <locationX>5770</locationX>
        <locationY>3326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplaySuccess</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;All selected Matter Participant has been reviewed successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_ErrorScreen</name>
        <label>Copy 2 of ErrorScreen</label>
        <locationX>6650</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_ErrorScreen</name>
        <label>Copy 3 of ErrorScreen</label>
        <locationX>7442</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_ErrorScreen</name>
        <label>Copy 4 of ErrorScreen</label>
        <locationX>7178</locationX>
        <locationY>2186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_4_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_ErrorScreen</name>
        <label>Copy 5 of ErrorScreen</label>
        <locationX>8234</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_5_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_ErrorScreen</name>
        <label>Copy 6 of ErrorScreen</label>
        <locationX>8938</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_6_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_ErrorScreen</name>
        <label>Copy 7 of ErrorScreen</label>
        <locationX>9730</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_7_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_8_of_ErrorScreen</name>
        <label>Copy 8 of ErrorScreen</label>
        <locationX>9466</locationX>
        <locationY>2618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_8_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_9_of_ErrorScreen</name>
        <label>Copy 9 of ErrorScreen</label>
        <locationX>9202</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_9_of_FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Participants</name>
        <label>Display Participants</label>
        <locationX>5770</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Private_Participant_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Instruction_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select the Matter Participants to review. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParticipantTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Matter_Participant__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matter Participants to Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colReviewPart</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-f49b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Source__c&quot;,&quot;guid&quot;:&quot;column-9fd7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-8b2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colSelectedPart</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>7706</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;There was an issue. Please reach out to the admin with this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoParticipantScreen</name>
        <label>NoParticipantScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoParticipantText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;All Matter Participants have been reviewed. Please navigate to the Matter Participant tab to view the reviewed Matter Participants.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Org_Participant_Input_Screen</name>
        <label>Organization Participant Input Screen</label>
        <locationX>10082</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ORGTIN</targetReference>
        </connector>
        <fields>
            <name>Org_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Organization Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Selected_Matter_Participant.Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Type of Participant: &lt;/strong&gt;{!Type_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role of Participant: &lt;/strong&gt;{!Standard_Role_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Source: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Source__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Org_Organization_Information</name>
            <fieldText>Organization Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Org_Organization_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Org_Organization_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Firm_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Organization Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Org_Organization_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Org_Organization_EIN</name>
                    <dataType>String</dataType>
                    <fieldText>Organization EIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 23, 23);&quot;&gt;Input must be 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Org_Organization_EIN})=9</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PA_Participant_Input_Screen</name>
        <label>Person Account Participant Input Screen</label>
        <locationX>6650</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PATIN</targetReference>
        </connector>
        <fields>
            <name>PA_DisplayInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Participant Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Selected_Matter_Participant.Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Type of Participant: &lt;/strong&gt;{!Type_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role of Participant: &lt;/strong&gt;{!Standard_Role_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Source: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Source__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PA_Participant_Information</name>
            <fieldText>Participant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PA_Participant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PA_Salutation</name>
                    <choiceReferences>choiceSalutation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Salutation__c</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PA_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PA_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PA_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PA_Participant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PA_TIN</name>
                    <dataType>String</dataType>
                    <fieldText>TIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 23, 23);&quot;&gt;Input must be 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!PA_TIN})=9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PA_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PA_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Private_Participant_Input_Screen</name>
        <label>Private Participant Input Screen</label>
        <locationX>5858</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_Type_to_Private</targetReference>
        </connector>
        <fields>
            <name>ShowSelectedPrivateInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Participant Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Selected_Matter_Participant.Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Type of Participant: &lt;/strong&gt;{!Type_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role of Participant: &lt;/strong&gt;{!Private_Role_of_Participant}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Source: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Source__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Participant_Information</name>
            <fieldText>Participant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Salutation</name>
                    <choiceReferences>choiceSalutation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Salutation__c</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Private_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Private_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Private_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_TIN</name>
                    <dataType>String</dataType>
                    <fieldText>TIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 23, 23);&quot;&gt;Input must be 9 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Private_TIN})=9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Private_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Private_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Loop_Selected_Matter_Participant.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Type_of_Participant</name>
        <label>Select Type of Participant</label>
        <locationX>8542</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Type_of_Participant</targetReference>
        </connector>
        <fields>
            <name>SelectedPartInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Participant Name: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Source: &lt;/strong&gt;{!Loop_Selected_Matter_Participant.Source__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Type_of_Participant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Type_of_Participant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Participant</name>
                    <choiceReferences>choiceStandard</choiceReferences>
                    <choiceReferences>choicePrivate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Participant</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Type_of_Participant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Role_of_Participant</name>
                    <choiceReferences>choiceWhistleblower</choiceReferences>
                    <choiceReferences>choiceProtectedSpouse</choiceReferences>
                    <choiceReferences>choiceOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role of Participant</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Participant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choicePrivate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Private_Role_of_Participant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceOther</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Standard_Role_of_Participant</name>
                    <choiceReferences>choiceExpertWitness</choiceReferences>
                    <choiceReferences>choiceFactWitness</choiceReferences>
                    <choiceReferences>choiceIntervenor</choiceReferences>
                    <choiceReferences>choiceLegalRep</choiceReferences>
                    <choiceReferences>choicePetitioner</choiceReferences>
                    <choiceReferences>choiceLawFirm</choiceReferences>
                    <choiceReferences>choicePractitioner</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Matter_Participant.Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Role of Participant</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Participant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceStandard</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Type_of_Petitioner</name>
                    <choiceReferences>choiceOrganizationPetitioner</choiceReferences>
                    <choiceReferences>choiceIndividualPetitioner</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Petitioner</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Standard_Role_of_Participant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choicePetitioner</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>8542</locationX>
        <locationY>3134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Matter_Participant</targetReference>
        </connector>
        <fields>
            <name>DisplaySuccess</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The Matter Participant has been reviewed successfully. Click &quot;Next&quot; to review the next participant.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2784</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Standard_Participant_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colReviewPart</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matter_Participant__c</objectType>
    </variables>
    <variables>
        <name>colSelectedPart</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matter_Participant__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExtContactRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExtOrgRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPersonAcctRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPrivatePartRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStandardPartRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
